.feature-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  .icon-container {
    .fa-hand-rock {
      color: #9FA8DA;
    }

    .fa-smile {
      color: #9FA8DA;
    }

    .fa-comment {
      color: #9FA8DA;
    }

    .fa-paint-brush {
      color: #9FA8DA;
    }
  }

  h4 {
    color: #333;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 0;
  }

  p {
    color: #777;
    font-size: 0.9em;
    letter-spacing: .05em;
    line-height: 1.2;
  }
}
