<div id="about">
  <div class="content-wrapper">
    <div class="content">
      <div class="image-container about-james width-40"></div>
      <div class="text-container width-60 about-james">
        <h3>James Smith</h3>
        <p>Sensei, Black Belt 2nd dan</p>
        <label>Commitment to the path</label>
        <div class="progress-bar">
          <div class="progress-100"></div>
        </div>
        <label>Teaching</label>
        <div class="progress-bar">
          <div class="progress-100"></div>
        </div>
        <label>Focus</label>
        <div class="progress-bar">
          <div class="progress-90"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="text-container about-block">
        <h3>So who am I?</h3>
        <p>Who am I?….. What a fantastic question for any of us to answer. Who am I?</p>
        <p>I’d like to think I’m a compassionate, empathic and honest individual. Someone who isn’t afraid to love with all my heart and who despite the (at times overwhelming) fear, has the courage to follow his dreams.</p>
        <p>Go back five, ten or even fifteen years, and I certainly wouldn’t of been able to answer that question, or of had the confidence to say these things about myself.</p>
        <p>Why am I able to say these things? To put myself out there? Why have I created this site? Why on earth are you reading about lil old me?</p>
        <p>Hopefully you are reading because you’re interested by what you’ve seen so far. As for the other two – let me tell you…</p>
        <hr>
        <p>Go back fifteen years or so, I was in secondary school at the age of fourteen. Life is strange at that age, trying to fit in around the social dynamics and pecking order of the school. Trying to not be too bad OR too good at any one subject so as to avoid detection and ridicule by the school elites. Girls come on the radar and I desperately tried to not be seen gazing for too long at the cutest girl in school. Then attempting every possible way to hide or get ride of those ghastly pimples and spots.</p>
        <p>And I failed at everything I just mentioned above, I was on the radar and I got hit hard. I came home with black eyes, cut lips and many a bump and bruise. I moved school but life was still the same.</p>
        <p>So one day I made a choice, it was a choice I made AND acted upon – on my own. I rang the local leisure center and got the times for the local Karate club. I felt empowered by the decision, it felt good that I had done that for myself. I told my parents and they funded me for the first few months of training. I trained twice a week, every week for months.</p>
        <hr>
        <p>I was due to take my first grading in a weeks time, sat at school waiting for the English teacher to arrive at class. One of the “School Elites” (a regular nemesis of mine) was terrorizing the class by walking around table to table, flicking everyone on the back of the ears, stealing pens and generally annoying us all. Normally I would of kept my mouth firmly shut to avoid detection as best I could. BUT this time I piped up, as he came over to our table I stood up and challenged him, he went to flick my ear and I pushed him away. For a moment he was stunned and I thought I’d won a small victory. THEN I received a swift punch in the face and a wrestling match over most of the classroom floor. The teacher arrived to finally pull us apart. Clearly I had not mastered the fine art of blocking just yet but what I HAD gained was a great deal of confidence.</p>
        <p>Skip forward two years or so and the confidence had grown and grown. I rarely had run ins with bullies at school. I no longer worried about being the best in a class, and actually strove to be so. I sat my exams happily and achieved mostly A’s (to my parents pleasant surprise).</p>
        <p>I stuck with Karate for the years to come, and earnt my black belt at 18. I then went on to teach as a full time instructor for the club that had given me so much.</p>
        <hr>
        <p>As years passed by and I continued to teach – no matter what job role or career I found myself in, I was always teaching and training others. It became clear that “Karate was well and truly in my blood”. I can see my pathclearly and it is simply to help others. Throughout my 20’s I have experience life in my own way and these experiences led me down the path of what I call Kaizen arts. It was a path of self development and really just felt like a branch that was growing off of my already established personal growth from my karate years.</p>
        <p>The Kaizen arts path led me to studying many different forms of self development, doing courses from life coaches such as Anthony Robbins to following my own interests and completing qualifications in councelling and nutrition, and many other lessons along the way.</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
