<div id="website-menu" (window:resize)="onResize()">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/img/logo.png">
    </div>
    <div class="menu-toggle" (click)="toggleMenuOpen()">
      <i class="fa fa-bars toggle" ></i>
    </div>
  </div>
  <nav id="top-menu" [ngStyle]="menuStyle()">
    <ul>
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</li>
      <li
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">About us</li>
      <li
        routerLink="/contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Contact us</li>
    </ul>
  </nav>
</div>
