#website-menu {
  align-items: center;
  background: #FFF;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  .logo-container {
    align-items: center;
    box-shadow: -1px 2px 3px #AAA, 1px 2px 3px #CCC;
    display: flex;
    height: 60px;
    padding: 0 10px 0 15px;
    position: relative;
    width: 100%;
    z-index: 100;
  }

  .logo {
    padding: 12px 0 7px 0;
    img {
      height: 40px;
    }
  }

  .menu-toggle {
    position: absolute;
    right: 0px;
    top: 6px;
    z-index: 105;

    i {
      color: #AAA;
      font-size: 1.4em;
      padding: 15px;
    }

    @media(min-width: 720px) {
      display: none;
    }
  }

  #top-menu {
    background: white;
    left: -100%;
    padding-top: 3px;
    position: absolute;
    transition: 0.3s ease all;
    top: 60px;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        border-bottom: 2px solid #EEE;
        color: #999;
        font-weight: 600;
        padding: 12px;
        text-transform: uppercase;
      }
    }
  }
}
