<div id="footer">
  <div class="content-container">
    <div class="left-container">
      <h5>Website links</h5>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-kaizen">About</a></li>
        <li><a routerLink="/about-james">Meet James</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="right-container">
      <div class="address-container">
        <h5><i class="fa fa-map-marker fa-fw"></i> Address</h5>
        <p>22 Prospect Terrace</p>
        <p>Newton Abbot</p>
        <p>Devon</p>
      </div>
      <div class="contact-container">
        <p class="contact-number"><i class="fa fa-phone fa-fw"></i>  00000 000 000</p>
        <p class="contact-email"><i class="fa fa-envelope fa-fw"></i> <a href="email:james@kaizenarts.com"> james@kaizenarts.com</a></p>
      </div>
    </div>
  </div>
</div>
