.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;

  .width-30 {
    width: 100%;
    @media(min-width: 768px) {
      width: 30%;
    }
  }

  .width-70 {
    width: 100%;
    @media(min-width: 768px) {
      width: 70%;
    }
  }

  .image-container {
    display: none;
    &.about-pebbles {
      background-image: url('/assets/img/pebbles-1.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media(min-width: 768px) {
      display: block;
    }
  }

  .text-container {
    padding: 20px;

    h3 {
      font-size: 1.6em;
    }

    p {
      color: #777;
      font-size: 1.2em;
      letter-spacing: 0.025em;
    }

    &.about-james {
      p {
        font-size: 0.8em;
        margin: 5px 0 15px;
      }
    }

    @media(min-width: 768px) {
      padding: 50px;
    }
  }

  .content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;

    @media(min-width: 768px) {
      width: 80%;
    }
  }

  label {
    font-size: 0.7em;
    text-transform: uppercase;
  }

  .progress-bar {
    background: #DDD;
    height: 15px;
    margin:  2px 0 10px 0;
    width: 450px;

    .progress-90 {
      background: #9FA8DA;
      height: 100%;
      width: 90%;
    }

    .progress-100 {
      background: #9FA8DA;
      height: 100%;
      width: 100%;
    }
  }
}
