<div id="about">
  <div class="content-wrapper">
    <div class="content">
      <div class="image-container about-pebbles width-30">

      </div>
      <div class="text-container width-70">
        <h3>Why Kaizen?</h3>
        <p>Well “Kai” (sounds like pie or tie) means “change” & “Zen” (sounds like pen or ten) means “good” or “better”.</p>
        <p>Quite simply to mean “change for the better”.</p>
        <p>Kaizen is a philosophy, a way of life and a way of living. It is about positive change in incremental steps. It assumes that every aspect of our lives deserves to be at its best and can be continually improved.</p>
        <p>Over here in the West we would call the same process “personal/self development”.
        <h3>Why is it an Art?</h3>
        <p>Like any art it something that needs to be practiced, something we need to embody. When we practice a Martial Art we are training in the art of war (Mars being the Roman god of war). Where we prepare for war and hope for peace. We train our bodies to be strong, fast, flexible and ready for any eventually.</p>
        <p>It is a continuous process as without constant training, muscles fatigue and grow weaker. The art of self development OR a Kaizen Art is no different. The mind itself is like a muscle and it too can become weak without constant exercise. All traditional Martial Arts naturally have an element of Kaizen to them, helping the mind to stay sharp and focused.</p>
        <h3>Mission:</h3>
        <p>At Kaizen Arts, our aim is to not just maintain our mind or physicality, but to really push our potential to the limit, to our greatness, to become 100% congruent with our true selves and to make that positive impact on the world that we always dreamed of.</p>
        <p>Welcome to Kaizen Arts, where we develop healthy minds and strive to reach our true potential.</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
