.feature-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  .icon-container {
    .fa-hand-rock {
      color: #9FA8DA;
    }

    .fa-smile {
      color: #9FA8DA;
    }

    .fa-comment {
      color: #9FA8DA;
    }

    .fa-paint-brush {
      color: #9FA8DA;
    }
  }

  h4 {
    color: #333;
    font-size: 1.4em;
    margin: 20px 0 5px 0;
  }

  p {
    color: #777;
  }
}
